<!doctype html>
<html lang="en" ng-app="gogol">
<head>
    <meta charset="UTF-8">
    <title>Gogol Change</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>

    <link rel="stylesheet" type="text/css" href="angular/css/style.css">

</head>
<body ng-controller="exchangersCtrl">

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Гоголь</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a ng-click="getExchangeRate('BTC', 'CARDRUB')">BTC -> CARDRUB</a>
        </ul>
    </div>
</nav>

<div class="row" ng-cloak>
    <div class="col s2 offset-s1 teal">

        <ul class="collection">
            <li class="collection-item" ng-repeat="currency in volutesFrom">
                <div ng-click="setCurrencyPareFrom(currency.currencyFrom)" >
                    <div class="" ng-if="!activeCurrencyFrom(currency.currencyFrom)" >
                        {{currency.currencyFrom}}
                    </div>
                    <div class=" lime" ng-if="activeCurrencyFrom(currency.currencyFrom)" >
                        {{currency.currencyFrom}}
                    </div>
                </div>
            </li>
        </ul>


    </div>
    <div class="col s2 blue">
        <ul class="collection">
            <li class="collection-item" ng-repeat="currency in volutesTo">
                <div ng-click="setCurrencyPareTo(currency.currencyTo)">
                    <div class="" ng-if="!activeCurrencyTo(currency.currencyTo)">
                        {{currency.currencyTo}}
                    </div>
                    <div class=" red" ng-if="activeCurrencyTo(currency.currencyTo)">
                        {{currency.currencyTo}}
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col s6">
        <ul class="collection">
            <li class="collection-item" ng-repeat="ex in exchs">
                {{ex.ex}} - {{ex.in[0]}} ({{ex.from[0]}}) => {{ex.out[0]}} ({{ex.to[0]}}) (Остаток: {{ex.amount[0]}}. Минимум: {{ex.minamount[0] || '000.1 BTC'}})
            </li>
        </ul>
    </div>
</div>



<script src="angular/app.js"></script>
<script src="angular/ctrl/gogolCtrl.js"></script>

</body>
</html>