<!doctype html>
<html lang="en" ng-app="gogol">
<head>
    <meta charset="UTF-8">
    <title>Gogol Change</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>

    <link rel="stylesheet" type="text/css" href="angular/css/style.css">

</head>
<body ng-controller="exchangersCtrl">

<nav class=" yellow accent-1">
    <div class="marging: 100px">
        <a href="#" class="brand-logo black-text" style="margin-left: 50px;">
            GOGOL
        </a>

    </div>
</nav>




<div class="row" ng-cloak>
    <div class="col s2 offset-s1 ">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Отдаете</th>
                </tr>
            </thead>

            <tbody>
            <tr ng-repeat="currency in volutesFrom">
                <td>
                    <div ng-click="setCurrencyPareFrom(currency.currencyFrom)" >
                        <div class="" ng-if="!activeCurrencyFrom(currency.currencyFrom)" >
                            {{currency.currencyFrom}}
                        </div>
                        <div ng-if="activeCurrencyFrom(currency.currencyFrom)" >
                        <span style="font-weight: bolder; color: #039be5;">
                            {{currency.currencyFrom}}
                        </span>

                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>



    </div>
    <div class="col s2 ">

        <table class="highlight">
            <thead>
            <tr>
                <th>Получаете</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="currency in volutesTo">
                <td>
                    <div ng-click="setCurrencyPareTo(currency.currencyTo)">
                        <div class="" ng-if="!activeCurrencyTo(currency.currencyTo)">
                            {{currency.currencyTo}}
                        </div>
                        <div ng-if="activeCurrencyTo(currency.currencyTo)">
                        <span style="font-weight: bolder; color: #039be5;">
                            {{currency.currencyTo}}
                        </span>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col s6">
        <table>
            <thead>
            <tr>
                <th>Обменник</th>
                <th>Отдаете</th>
                <th>Получаете</th>
                <th>Остаток</th>
                <th>Минимум</th>

            </tr>
            </thead>

            <tbody>
                <tr ng-repeat="ex in exchs">
                    <td><a href="{{ex.startPage}}">{{ex.ex}}</a></td>
                    <td>{{ex.in[0]  | currency:"" }} <span class="grey-text">({{ex.from[0]}})</span></td>
                    <td>{{ex.out[0] | currency:""}} <span class="grey-text">({{ex.to[0]}})</span></td>
                    <td>{{ex.amount[0] | currency:""}}</td>
                    <td>{{ex.minamount[0] }}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<footer class="page-footer yellow accent-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">Гоголь</h5>
                <p class="black-text">Сервис мониторинга обменников электронных валют</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="black-text" href="#!">Новости</a></li>
                    <li><a class="black-text" href="#!">Статьи</a></li>
                    <li><a class="black-text" href="#!">Правила</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container black-text">
            © 2018 Gogol - сервис мониторинга обменников электронных валют
        </div>
    </div>
</footer>



<script src="angular/app.js"></script>
<script src="angular/ctrl/gogolCtrl.js"></script>

</body>
</html>